.login-container {
  height: 100vh;
  background-image: url("../public/3139256.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 400px;
  border-radius: 15px;
}